.contact-socialmedia {
  position: relative;
}

.contact-title-text {
  font-family: "Century Gothic Bold";
  font-size: 26px;
  letter-spacing: 3;
  text-transform: uppercase;
}

.contact-title-number {
  font-size: 12px;
  color: var(--main-color);
  position: absolute;
  top: 0;
  padding-left: 2px;
  position: absolute;
}
