.contact-id {
  transform: translateY(0px);
}

.contact {
  border-top: solid 2px var(--ligne-color);
  padding-top: 200px;
  margin-bottom: 24px;
}

.contact-socialmedia {
  position: relative;
}

.contact-title-text {
  font-family: "Century Gothic Bold";
  font-size: 20px;
  letter-spacing: 2;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.contact-title-number {
  font-size: 12px;
  color: var(--main-color);
  position: absolute;
  top: 0;
  padding-left: 2px;
  position: absolute;
}

.contact-logo {
  font-size: 40px;
  transition: 0.4s;
}

.contact-logo:hover {
  color: var(--main-color);
}

.contact-links {
  padding-top: 20px;
}

.contact-links p {
  padding-top: 12px;
  font-size: 20px;
  line-height: 26px;
}

.contact-second-link {
  padding-top: 12px;
}

.contact-links a {
  font-size: 20px;
  line-height: 26px;
}

.contact-links a:hover {
  color: var(--main-color);
}

.contact-top-button button {
  border: none;
  padding: 0;
  box-shadow: 0 0 24px var(--main-color);
}

.contact-top-button a {
  border: none;
  padding: 0;
  margin: 0;
}

.contact-top-button img {
  width: 40px;
  height: 40px;
  margin: 0;
}
