.exposition-id {
  transform: translateY(-80px);
}

.exposition-all-art {
  position: relative;
  top: -200px;
}

.exposition-title-container {
  position: relative;
}

.exposition-title-text {
  font-family: "Century Gothic Bold";
  font-size: 20px;
  letter-spacing: 2;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.exposition-title-number {
  font-size: 12px;
  color: var(--main-color);
  position: absolute;
  top: 0;
  padding-left: 2px;
  position: absolute;
}

.exposition-images {
  display: flex;
  flex-direction: column;
}

.exposition-images img {
  height: auto;
  width: auto;
  transition: 0.4s;
}

.exposition-images img:hover {
  transform: scale(1.02);
}

.exposition-artwork {
  padding-top: 26px;
  margin: 0;
}

.exposition-artwork-one {
  padding-top: 0;
}

.exposition-images-two {
  padding-top: 100px;
}

.exposition-images-three {
  padding-top: 36px;
}
