.navigation {
  display: flex;
  flex-direction: row;
  margin-left: 48px;
  margin-top: 24px;
}

.navigation-logo img {
  height: 46px;
}

.navigation-navbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 48px;
}

.navigation-navbar p {
  margin-right: 46px;
}

.navigation-text {
  font-family: "Century Gothic Bold";
  font-size: 26px;
  letter-spacing: 3;
  text-transform: uppercase;
  margin-top: 20px;
}

.navigation-text-number {
  font-size: 12px;
  color: var(--main-color);
  position: absolute;
  top: 0;
  margin-top: 20px;
  padding-left: 2px;
}

.navigation-fr-language p {
  margin-right: 0;
}

p.navigation-fr-language {
  margin-right: 0;
  padding-right: 12px;
  cursor: pointer;
}

.navigation-de-language {
  border-left: solid 3px var(--font-color);
  padding-left: 12px;
  cursor: pointer;
}

p.navigation-de-language {
  margin-right: 0;
}

.navigation a {
  text-decoration: none;
}

.navigation-link:hover {
  color: var(--main-color);
}

.navigation-link:hover .navigation-text-number {
  color: var(--font-color);
  transition: 1.4s;
}

// .language.navigation-change-color {
//   background: var(--font-color);
// }

// .color-change {
//   color: red;
// }

.fr-language {
  color: var(--main-color);
}

.is-white {
  color: var(--font-color);
}

.is-blue {
  color: var(--main-color);
}
