.partner {
  position: relative;
  margin-bottom: 160px;
}

.partner-title-text {
  font-family: "Century Gothic Bold";
  font-size: 20px;
  letter-spacing: 2;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.partner-title-number {
  font-size: 12px;
  color: var(--main-color);
  position: absolute;
  top: 0;
  padding-left: 2px;
  position: absolute;
}
