.program {
  position: relative;
  margin-bottom: 160px;
}

.program-title-text {
  font-family: "Century Gothic Bold";
  font-size: 20px;
  letter-spacing: 2;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.program-title-number {
  font-size: 12px;
  color: var(--main-color);
  position: absolute;
  top: 0;
  padding-left: 2px;
  position: absolute;
}

.program-date-text {
  font-size: 30px;
  line-height: 36px;
  padding-left: 24px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.program-day {
  border-bottom: solid 2px var(--ligne-color);
}

.program-day-fiday {
  border-top: solid 2px var(--ligne-color);
  border-bottom: solid 2px var(--ligne-color);
}

.program-date-text span {
  font-style: italic;
  color: var(--main-color);
}

.program-arrow,
img {
  height: 30px;
}
