.program {
  position: relative;
  margin-bottom: 160px;
}

.program-title-text {
  font-family: "Century Gothic Bold";
  font-size: 20px;
  letter-spacing: 2;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.program-title-number {
  font-size: 12px;
  color: var(--main-color);
  position: absolute;
  top: 0;
  padding-left: 2px;
  position: absolute;
}

.program-date-text {
  font-size: 30px;
  line-height: 36px;
  padding-left: 24px;
  padding-top: 26px;
  padding-bottom: 26px;
}

.program-date-text span {
  font-style: italic;
  color: var(--main-color);
}

.program-arrow,
img {
  height: 40px;
  margin-top: 20;
}

.program-arrow:hover {
  transform: rotate(90deg);
}

.program-arrow {
  transition: 0.4s;
}

.program-accordion-friday {
  border-top: 2px solid var(--ligne-color);
}

.program-accordion-item {
  border-bottom: 2px solid var(--ligne-color);
}

.program-accordion-title {
  padding: 10px;
  cursor: pointer;
}

.program-accordion-content {
  padding: 26px;
  display: none;
  padding-top: 0;
  font-size: 20px;
  line-height: 26px;
}

.program-accordion-content span {
  color: var(--main-color);
  font-style: italic;
  line-height: 24px;
}
