.ticketing-button button {
  background-color: var(--main-color);
  border: none;
  box-shadow: 0 0 24px var(--main-color);
  position: fixed;
  bottom: 160px;
  right: 10px;
  z-index: 4;
}

.ticketing-button a {
  color: var(--background-color);
  border-left: solid 2px var(--background-color);
}
